# encoding: utf-8
<li class="span3">
      <div class="thumbnail">
        <img src="/products/<%= @part.spec.product.image_url%>" alt="" style="width:auto;height: 60px;">
        <h3></h3>
        <p>
          件数：<%= @part.quantity %>
          颜色：<%= @part.spec.color.name %>
          名称：<%= @part.spec.product.title %>
        </p>
         
        
      </div>
    </li>