<div class="controls controls-row">
                  <div class="input-prepend span4">
                  <span class="add-on" style="padding:3px;">编号</span>
                  <%= f.text_field :spec_id %>   
                  </div>

                  <div class="input-prepend span4">
                  <span class="add-on" style="padding:3px;">数量</span>
                  <%= f.text_field :quantity %>   
                  </div>
                  
                  <div id="" style="" class="  span2">
                    <label  class="checkbox inline">
                    
                    <%= f.check_box :_destroy %>  
                    移除
                    </label>                
                  </div>
                  
                  </div>