<div id="spec_id_field">
          <%= f.hidden_field :spec_id %>
        </div>
        <div id="quantity_field">
          <%= f.hidden_field :quantity %>    
        </div>
        <div id="remove_field" style="display:none;">
        	<%= f.hidden_field :_destroy %>
  			
        </div>