<tr>
	<td>
	</td>
	<td>
		<%= toy.name %>
	</td>
	<td>
		<%= link_to '查看',toy_path(toy) %> |
		<%= link_to '编辑',edit_toy_path(toy) %> |		
		<%= link_to "删除", toy, 'data-confirm' => "确定要删除吗？", :method => :delete, :title => "确定要删除吗？"%>
	</td>
</tr>