<tr>
                <td>
                  <%= f.text_field :spec_bh %>
                </td>
                <td>
                  <%= f.text_field :quantity %>
                </td>
                <td>
                	<%= f.check_box :_destroy %>
                </td>
              </tr>