<div class="btn-group span4" >
        <a href="/outstocks" role="button"  class="btn  ">
          所有出库单
        </a>
        <a href="/outstocks/new" role="button"  class="btn " >
          新增出库单
        </a>
        <a href="/porders/out" role="button"  class="btn " >
          生产单出库
        </a>
      </div>